/* EventsList.css */

.EventsList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 8px;
  color: #ffffff;
}

.EventsList h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.eventRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event {
  width: calc(33.33% - 10px);
  background-color: #222222;
  border: 1px solid #555555;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.event h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.event button {
  padding: 5px 10px;
  background-color: #0e110e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.event button:hover {
  background-color: #525552;
}
