.EventDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 8px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #048f17;
}

p {
  margin-bottom: 8px;
  color: #cccccc;
}

.editEventTitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formGroup label {
  width: 80px; /* Adjust the width as desired */
  margin-right: 10px;
  font-size: 14px;
  color: #cccccc;
}

.formGroup input,
.formGroup textarea {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  color: #ffffff;
  background-color: #222222;
  border: none;
  border-radius: 4px;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
  border-color: #e0e6e0;
}




.line {
  border: 1px solid #aaaaaa;
  width: 100%;
  margin: 20px 0;
}


.submit-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #172619;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #a8b7ab;
}
