.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .navLogo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navLinks {
    margin-left: 20px;
  }
  
  .navLogout {
    margin-left: auto;
  }
  
  .welcomeUser {
    margin-right: auto;
  }